modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[workflows]
runButton = "Backend2 Dev"

[[workflows.workflow]]
name = "Backend2 Dev"
author = 44733444
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend2"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
